header, nav, main, section, article, footer {
    border: 3px solid transparent;
}

theme-toggle {
    display: inline-flex;
    gap: .5rem;
    border: 2px solid grey;
    padding: .25rem .5rem;
    border-radius: .5rem;
}
theme-toggle button {
    background: none;
    border: 0;
    padding: .25rem;
    cursor: pointer;
}
