@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Gloock&display=swap');
:root {
    --neutral-beige1: #DDBEA9;
    --neutral-beige2: #FFE8D6;
    --neutral-beige3: #D4C7B0;
    --neutral-green1: #B7B7A4;
    --neutral-green2: #A5A58D;
    --neutral-green3: #636856; /*potential nav*/
    --neutral-green4: #3F4238;

    --earthy-grey: #DAD7CD; /*potential base*/
    --earthy-green1: #A3B18A;
    --earthy-green2: #588157;
    --earthy-green3: #3A5A40;
    --earthy-green4: #344E41;

    --forest-green1: #A1CCA5;
    --forest-green2: #8FB996;
    --forest-green3: #709775;
    --forest-green4: #415D43;
    --forest-green5: #111D13; /*pontential font*/

    --warm-beige: #B6AD90;
    --warm-green1: #C2C5AA;
    --warm-green2: #A4AC86;
    --warm-green3: #656D4A;
    --warm-green4: #414833;
    --warm-green5: #333D29;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--earthy-grey);
    min-height: 100%;

}

body{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav, ul {
    list-style: none;
}

header {
    width: 100%;
    background-color: var(--neutral-green3);
    color: var(--earthy-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
        ul {
            width: 24rem;
            display: flex;
            justify-content: space-between;
            margin-left: 5rem;
            font-size: 1.3rem;
            
            a {
                color: inherit;
            }
    
            a:hover {
                color: white;
            }
        }

    }

    theme-toggle {
        background-color: var(--earthy-grey);
        display: inline-flex;
        gap: 1rem;
        border: 2px solid grey;
        margin: 2rem 4rem;
        padding: .25rem .4rem;
        border-radius: .5rem;
    }
    theme-toggle button {
        background-color: var(--earthy-grey);
        border: 0;
        padding: .25rem;
        cursor: pointer;
    }
}



/* Content for landing page */
#landing-text {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    color: var(--forest-green5);

    h1 {
        text-align: center;
        font-family: "epilogue";
        font-size: 8rem;
    }

    h2 {
        text-align: center;
        font-family: "Gloock", sans-serif;
        font-size: 4rem;
        font-weight: normal;
    }
}

/* Content for about me page */
#about-me-content {
    width: 75%;
    margin-top: 8rem;

    section:nth-child(1) {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        line-height: 2rem;
        margin-bottom: 8rem;

        hgroup {
            width: 60%;
        }

        picture img{
            display: block;
            border-radius: 10%;
        }
    }

    section:nth-child(2) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 10rem;

        hgroup {
            width: 91%;
            margin-bottom: 0.5rem;
            line-height: 2rem;
        }

        iframe {
            width: 92%;
            border-radius: 2%;
        }
    }

}

/* Content for expertise page */
#expertise-content {
    width: 70%;
    margin-top: 6rem;
    color: var(--forest-green5);
    
    a {
        text-decoration: none;
        color: inherit;

    }

    #experiences-content {
        margin-bottom: 6rem;

        article {
            display: grid;
            grid-template-columns: 4rem 1fr;  /* logo | text */
            column-gap: 1rem;
            align-items: start;
            margin-block: 2rem;

            a:hover {
                text-decoration: underline;
            }

            details p {
                line-height: 1.4rem;
            }
        }

        img {
            grid-row: 1 / span 2;  /* occupy logo column for both rows */
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 10%;
            object-fit: cover;
        }

        article:nth-child(4) img {
            background-color: white;
        }
    }

    #projects-content {
        margin-bottom: 6rem;
        
        #project-cards {
            display: flex;
            justify-content: space-between;
            gap: 1.2rem;
            margin-top: 1.4rem;
        }

        article {
            background-color: var(--neutral-green2);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            border: 0.1px solid var(--earthy-grey);
            border-radius: 10%;
            overflow: clip;

            img {
                width: 100%;
                height: auto;
                display: block;
            }

            h3, p, ul {
                margin: 0.2rem 0.5rem;
            }

            h3 {
                margin-top: 0.7rem;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
                margin-top: 0.3rem;

                li {
                    background-color: var(--earthy-grey);
                    border: 0.1px solid var(--earthy-grey);
                    border-radius: 0.8rem;
                    padding: 0.1rem 0.3rem;
                    font-size: 0.7rem;
                }
            }

            a, .coming-soon {
                background-color: var(--earthy-grey);
                border: 0.1px solid var(--earthy-grey);
                border-radius: 0.4rem;
                margin: 0.7rem 3rem 1.3rem;
                padding: .4rem 0.3rem;
                text-align: center;
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neutral-green3);
    color: var(--earthy-grey);
    font-size: 0.9rem;

    div {
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 1.6rem;
        margin-left: -5rem;

        section:nth-child(1) {
            width: 30%;
            line-height: 1.1rem;
        }

        section:nth-child(2) {
            line-height: 1.2rem;
            margin-left: -5rem;

            ul {
                width: 15vw;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;

                li {
                    margin: 0rem 0.3rem;
                    
                    a {
                        color: inherit;
                    }
        
                    a:hover {
                        color: white;
                    }
                }
            }

        }

        section:nth-child(3) {
            margin-left: -5rem;

            ul {
                display: flex;
                width: 8vw;
                justify-content: flex-start;
                align-items: center;
                
                li {
                    margin: 0rem 0.3rem;
                } 
            }
        }
    }

    hr {
        border: none;
        height: 0.5px;
        background-color: var(--earthy-grey);
        width: 95%;
        margin: 1rem 0rem;
    }

    small {
        padding-bottom: 1.5rem;
    }
}