@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Gloock&display=swap');
:root {
    --neutral-beige1: #DDBEA9;
    --neutral-beige2: #FFE8D6;
    --neutral-beige3: #D4C7B0;
    --neutral-green1: #B7B7A4;
    --neutral-green2: #A5A58D;
    --neutral-green3: #636856; /*potential nav*/
    --neutral-green4: #3F4238;

    --earthy-grey: #DAD7CD; /*potential base*/
    --earthy-green1: #A3B18A;
    --earthy-green2: #588157;
    --earthy-green3: #3A5A40;
    --earthy-green4: #344E41;

    --forest-green1: #A1CCA5;
    --forest-green2: #8FB996;
    --forest-green3: #709775;
    --forest-green4: #415D43;
    --forest-green5: #111D13; /*pontential font*/

    --warm-beige: #B6AD90;
    --warm-green1: #C2C5AA;
    --warm-green2: #A4AC86;
    --warm-green3: #656D4A;
    --warm-green4: #414833;
    --warm-green5: #333D29;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: var(--earthy-grey);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav, ul {
    list-style: none;
}

header {
    width: 100vw;
    background-color: var(--neutral-green3);
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
        ul {
            width: 24rem;
            display: flex;
            justify-content: space-between;
            margin-left: 5rem;
            font-size: 1.3rem;
        }

        a {
            color: var(--earthy-grey);
        }

        a:hover {
            color: white;
        }
    }

    theme-toggle {
        background-color: var(--earthy-grey);
        display: inline-flex;
        gap: 1rem;
        border: 2px solid grey;
        margin: 2rem 4rem;
        padding: .25rem .4rem;
        border-radius: .5rem;
    }
    theme-toggle button {
        background-color: var(--earthy-grey);
        border: 0;
        padding: .25rem;
        cursor: pointer;
    }
}





#landing-text {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100vw;
    color: var(--forest-green5);

    h1 {
        text-align: center;
        font-family: "epilogue";
        font-size: 8rem;
    }

    h2 {
        text-align: center;
        font-family: "Gloock", sans-serif;
        font-size: 4rem;
        font-weight: normal;
    }
}



footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neutral-green3);
    color: var(--earthy-grey);
    font-size: 0.9rem;

    div {
        width: 75vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 1.6rem;
        margin-left: -5rem;

        section:nth-child(1) {
            width: 30vw;
            line-height: 1.1rem;
        }

        section:nth-child(2) {
            line-height: 1.2rem;
            margin-left: -10rem;

            ul {
                width: 11vw;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            a {
                color: inherit;
            }
        }

        section:nth-child(3) {
            margin-left: -5rem;

            ul {
                display: flex;
                width: 6vw;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    hr {
        border: none;
        height: 0.5px;
        background-color: var(--earthy-grey);
        width: 95vw;
        margin: 1rem 0rem;
    }

    small {
        padding-bottom: 1.5rem;
    }
}